
@{
	ViewData["Title"] = " Your Images!";
}


<div class="imagescontainer">
	<div class="imagecontainer">
		<div class="image">
			<img src="@Model.Url" width="340" height="340"/> 
		</div>
		<p class="name">@Model.Name</p>
	</div>

	

</div>