
@model IEnumerable<ImageGallery.Models.Image>
@{
	ViewData["Title"] = " Your Images!";
}


<div class="imagescontainer">
	@foreach (var item in Model)
	{
		<div class="imagecontainer">
			<div class="image">
				<img src="@item.Url" width="340" height="340"/> 
			</div>
			<p class="name">@item.Name</p>
		</div>
	}
</div>