
@model IEnumerable<ImageGallery.Models.Image>
@{
	ViewData["Title"] = " Your Images!";
}


<div class="imagescontainer">
	@foreach (var item in Model)
	{
		<div class="imagecontainer">
			<div class="image">
				<a asp-action="Details" asp-controller="Images" asp-route-id="@item.Id">
					 <img src="@item.Url" width="340" height="340"/>
				</a>
			</div>
			<p class="name">@item.Name</p>
		</div>
	}
</div>